<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwill.project.repository.SettingDao">

<select id="selectBySettingUser" resultType="SettingUser">
	 	 select * from users where user_id = #{user_id}
	 </select>
	 
	 <select id="selectNickname" resultType="SettingUser">
	 	select * from users where nickname = #{nickname}
	 </select>
	 
	 <update id="updateProfileUrl">
	 	update users set profile_url =#{profile_url} where user_id = #{user_id}
	 </update>
	 
	 <update id="updateBasicProfileImg">
	 	update users set profile_url ='default.png' where user_id = #{user_id}
	 </update>
	 
	 <update id="updateNickname">
	 	update users set nickname = #{nickname} where user_id = #{user_id} 
	 </update>
	 </mapper>