@charset "UTF-8";

        li {
            font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,
            Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,
            Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            font-size: 14px;
            line-height: 1.25rem;
            font-weight: 500;
        }

        .style-form {
            font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,
            Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,
            Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            font-size: 14px;
            line-height: 1.25rem;
            font-weight: 500;
            border-radius: 43px;
            border-width: 1px;
        }
